body {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    min-width: 960px;
    margin: auto;
    padding: 0px 10px;
    border: 1px solid #f5f6f7;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 35px 0px;
    text-align: center;
}

.menu li {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;   
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2.7px;
}

.top-img img {
    display: block;
    width: 100%;
}

.article {
    background-color: #f5f6f7;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 130px;
    padding-left: 105px;
    padding-right: 105px;
}

.article h1 {
    text-transform: uppercase;
    font-family: Arial;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 3.3px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}

.text p {
    font-family: Arial;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2.4px;
    line-height: 26px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer p {
    font-family: Arial;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2.4px;
    text-align: right;
    margin: 0;
    padding-top: 43px;
    padding-bottom: 43px;
    padding-right: 100px;
}

.btn button {
    display: block; 
    margin: 0 auto;
    border-style: none;
    border-radius: 3px;
    background-color:  #16a085;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 15px;
}